@tailwind preflight;

@tailwind components;

@tailwind utilities;

body,
html,
#root {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  @apply .bg-grey-lightest .font-sans .font-normal .text-base .text-grey-dark .leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .font-serif .text-grey-darker .font-normal mb-4;
}

h2 {
  @apply .text-4xl mb-8;
}

h2:not([class]) + p {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 1.5rem 0;
}

p {
  @apply .leading-loose .mb-6;
}

pre {
  @apply text-sm text-white leading-normal bg-indigo-darkest;
  @apply px-8 py-8;
}

.doc-content pre {
  @apply -mx-8 mb-8 py-4;
}

.doc-content h3 {
  margin-top: 4.2rem;
  font-size: 1.6rem;
}
.doc-content ul {
  list-style: disc;
}
.doc-content ul li {
  line-height: 1.8rem;
}

.doc-content .language-text {
  @apply bg-grey-lighter px-2;
}

pre .comment {
  @apply text-grey-dark;
}

a {
  @apply .text-purple-light;
  text-decoration: none;
  cursor: pointer;
}

.language-graphql span.token.attr-name {
  @apply .text-indigo-light;
}

.language-graphql span.token.directive {
  @apply .text-purple-lighter;
}
